<section id="content" class="container">


<h2 class="my-4"><strong>Outdoor</strong></h2>

  <div class="products-grid">
    <% @products.first(5).each do |product| %>
      <%= link_to product_path(product), class: 'product-link' do %>
        <div class="product-card">
          <%= image_tag(product.image, class: 'product-image') if product.image.attached? %>
          <div class="product-info">
            <span class="price">€<%= product.price_per_day.to_i == product.price_per_day ? product.price_per_day.to_i : product.price_per_day %></span>
            <p class="title"><%= product.title %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


</section>
