#container {
  margin-top: 50px;;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .info h1{
    font-size: 25px;
    font-weight: bold;
    margin-top: 36px;
  }

  .form-container{
    background-color: rgb(255, 255, 255);
    width: 50rem;
    border-radius: 0.5rem;
  }

  h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
    margin-left: 200px;
  }

  form {
      max-width: 50rem;
      margin: 0 auto;


      .mb-3 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin: 1.5rem
      }

      .form-label {
        font-weight: bold;
      }

      .form-control {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        margin-top: 5px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        background-color: white;
      }

      .upload-button {
        text-align: center;
      }

      .btn-primary,
      .signup-btn {
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 2rem;
      }

      .btn-primary {
        background-color: #01C1AD;
      }

      .signup-btn {
        background-color: rgb(200, 200, 200) !important; /* Adding !important to ensure the color is applied */
      }

      .btn-primary:hover {
        background-color: #007883;
      }

      .signup-btn:hover {
        background-color: rgb(127, 127, 127) !important;
      }

      .forgot {
        margin-left: 25px;
      }
    }

}
