#container {
    margin-top: 50px;;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .info h1{
      font-size: 25px;
      font-weight: bold;
      margin-left: 23px;
      margin-bottom: 1rem;
    }

    .form-container{
      background-color: rgb(255, 255, 255);
      width: 50rem;
      border-radius: 0.5rem;
    }

    .form-row {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;
      margin-top: 3rem;
    }

    .form-group {
      flex: 1;
      margin-right: 1rem;
      margin-bottom: 1.5rem;
    }

    .form-group.category {
      flex: 0 0 20%;
    }


    .form-group.price {
      flex: 0 0 15%;
    }

    h1 {
      color: #333;
      font-size: 28px;
      margin-bottom: 20px;
    }

    .alert {
      margin-bottom: 20px;
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
      padding: 15px;
      border-radius: 5px;
    }

    form {
      max-width: 50rem;
      margin: 0 auto;


      .mb-3 {
        margin-bottom: 2rem;
      }

      .form-label {
        font-weight: bold;
      }

      .form-control {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        margin-top: 5px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        background-color: white;
      }

      .upload-button {
        text-align: center;
      }


      .btn-primary {
        background-color: #01C1AD;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 20px;
        text-align: center;
        margin-bottom: 2rem;
      }

      .btn-primary:hover {
        background-color: #007883;
      }
    }
  }
