.container {
  max-width: 2000px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.product-link{
  text-decoration: none;
  color: rgb(93, 93, 93);
}

.my-4 {
  color: #333;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.product-card {
  border: 0.5px solid #01C1AD;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .product-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
  }

  .product-info {
    background-color: #f9f9f9;
    text-decoration: none;
    .price {
      color: #007883;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.5rem;

      .product-icon-filled{
        color: #007883;
        size: 10px;
      }
    }

    .title, .description .condition {
      margin: 0.5rem;
    }

  }
}

.my-4 {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  &-success { background-color: #d4edda; }
  &-error { background-color: #f8d7da; }
  &-info { background-color: #d1ecf1; }
}
